<%layout("/layouts/boilerplate.ejs")  %>
    <div class="row">
    <div class="col-8 offset-2">
    <h3> Create a new Listing</h3>
     <form method="post" action="/listings" enctype="multipart/form-data" novalidate class="needs-validation" >
    <div class="mb-3">

    <label for="title" class="form-label">Title</label>
    <input name=listing[title]
    class="form-control"
    placeholder="enter title" required/>
    <div class="valid-feedback">Title Looks Good</div>
    </div>


<div class="mb-3">
<label for="description" class="form-label">Description</label>
<textarea name=listing[description]
class="form-control" required></textarea>
</div>

 <div class="mb-3">
 <label for="image" class="form-label">Image</label>
 <input name="image" type="file" class="form-control" accept="image/*">
 <small class="form-text text-muted">Upload an image file (JPG, PNG, GIF)</small>
 </div>

<div class="mb-3">
<label for="price" class="form-label">Price</label>
<input name=listing[price]
class="form-control"
type="number" required/>
<div class="invalid-feedback">Enter a Valid Price</div>
</div>
<div class="row">
<div class="mb-3 col-md-8" >
<label for="location" class="form-label">Location</label>
<input name=listing[location]
placeholder="enter your location"
type="text" class="form-control" required>
<div class="invalid-feedback">Location should be Valid</div>
</div>

<div class="mb-3 col-md-4">
<label for="country" class="form-label">Country</label>
<input name=listing[country]
placeholder="enter country name" class="form-control" required>
<div class="invalid-feedback">Please enter Valid country</div>
</div>
</div>
<button class="btn btn-danger">Add</button>
</form>
</div>
</div>
